.Tilt {
    background: linear-gradient(to right, #3494e6, #ec6ead);
}

.Tilt-inner {
    height: 100%;
    width: 100%; 
    position: relative;
}

.Tilt-inner img {
    max-height: 125px;
    max-width: 125px;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}